<div ng-controller="outletlistCtrl">


    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <div ng-if="outletView == 'view'">
                    <header class="panel-heading">
                        Outlet
                        <span class="tools pull-right">
                            <a class="fa fa-chevron-down" href="javascript:;"></a>
                            <a class="fa fa-times" href="javascript:;"></a>
                         </span>
                    </header>
                    <div class="panel-body">
                        <div class="btn-group">
                            <button class="btn btn-primary" id="editable-sample_new" ng-click ="addOutlet()">
                                Add Outlet
                            </button>
                        </div>
                        <table id="outletsList" class="table  table-hover general-table">
                            <thead>
                            <tr>
                                <th> Id</th>
                                <th class="hidden-phone">Name</th>
                                <th class="hidden-phone">Location</th>
                                <th>Action</th>

                            </tr>
                            </thead>
                            <tbody>

                            <tr ng-repeat="item in alloutlet">
                                <td>
                                    {{item.id}}
                                </td>
                                <td >{{item.title}}</td>
                                <td >{{item.location_name}}</td>
                                <td ><a class="btn btn-default edit" ui-sref="admin.outletedit({outletId:item.id})" >Edit</a>
                                    <a class="btn btn-default delete" href="javascript:;" ng-click="deleteOutlet(item.id)"
                                            >Delete</a></td>

                            </tr>


                            </tbody>
                        </table>
                    </div>
                </div>

                <div ng-if="outletView == 'edit'">
                    <header class="panel-heading">
                        Outlet
                    </header>
                    <div class="panel-body">
                        <form role="form" ng-submit="saveOutlet()" enctype="multipart/form-data">

                            <div class="form-group">
                                <label for="exampleInputName">Outlet Name</label>
                                <input type="text" required placeholder="Enter Outlet Name"  id="exampleInputName" ng-model="item.title" class="form-control">
                                <input type="hidden"  ng-model="item.id" >
                                <input type="hidden"  ng-model="item.restaurant_id" >
                            </div>

                            <div class="form-group" ng-init="getLocation()">
                                <label for="exampleInputName">Select Location</label>
                                <select class="form-control" ng-model="item.location_id">
                                    <option value="">--Select Location--</option></option>
                                    <option ng-repeat="location in locationList | orderBy:'city' " value="{{location.id}}">{{location.city}}</option>
                                </select>
                            </div>

                            <div class="form-group" ng-init="getCategories()">
                                <label for="exampleInputName">Select Category</label>
                                <div ng-dropdown-multiselect=""  options="allCat" selected-model="item.category_id"></div>
                            </div>


                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="item.is_active" ng-true-value="1" ng-false-value="0"> Is Active
                                </label>
                            </div>
                            <button class="btn btn-primary" type="submit">Submit</button>
                            <button class="btn btn-danger" type="button" ng-click="cancelOutlet()">Cancel</button>
                        </form>

                    </div>
                </div>
            </section>
        </div>
    </div>

</div>