
<footer class="section-footer phone-hide">
	<div class="container">
		<div class="footer-top">
			<ul>
				<li>
					<h1>Download Aplikasi</h1>
					<p><span><img src="app/assets/Images/google-btn.png" width="101" height="34"  alt=""/></span><img src="app/assets/Images/app-btn.png" width="99" height="32"  alt=""/></p>
				</li>
				<li>
					<h1>Follow Us</h1>
					<p><span><img src="app/assets/Images/s-icon-1.png" width="51" height="51"  alt=""/></span><span><img src="app/assets/Images/s-icon-2.png" width="51" height="51"  alt=""/></span><span><img src="app/assets/Images/s-icon-3.png" width="51" height="51"  alt=""/></span><img src="app/assets/Images/s-icon-4.png" width="51" height="51"  alt=""/></p>
				</li>
				<li>
					<h1>Get in Touch</h1>
					<p><img src="app/assets/Images/get.png" width="340" height="44"  alt=""/></p>
				</li>
			</ul>
		</div>
		<div class="dx-clearfix"></div>
		<div class="footer-mid"><p><a href="">Payment Voucher</a>   |   <a href="">Menu Voucher</a>   |   <a href="">Membership</a>   |   <a href="">Marketplace</a>   |   <a href="">News</a>   |   <a href="">Penangbistro</a>   |   <a href="">Tony Romas</a>   |   <a href="">Eat & Eat</a>   |   <a href="">Sushi Tei</a></p></div>
		<div class="footer-bottom"><p><a href="">Contact Us</a>   |   <a href="">About Us</a>   |   <a href="">FAQ</a>   |   <a href="">Terms of Use</a>   |   <a href="">Privacy Policy</a>                                                                                                                     <span>© 2015 mFoodGate. All rights reserved.</span>
		</p>
		</div>
	</div>
</footer>

<div class="dx-gesture-cover" style="pointer-events: none;"></div>
