<!--<style>
	.slideout-menu { left: auto; }
	.btn-hamburger { left: auto; right: 12px;}
	.box { height: 1500px; }
</style>-->
<div ng-controller="headerCtrl">

	<!--<nav id="menu" class="menu">
		<a href="https://github.com/mango/slideout" target="_blank">
			<header class="menu-header">
				<span class="menu-header-title">Tests</span>
			</header>
		</a>

		<section class="menu-section">
			<h3 class="menu-section-title">Docs</h3>
			<ul class="menu-section-list">
				<li><a href="https://github.com/mango/slideout#installation" target="_blank">Installation</a></li>
				<li><a href="https://github.com/mango/slideout#usage" target="_blank">Usage</a></li>
				<li><a href="https://github.com/mango/slideout#api" target="_blank">API</a></li>
				<li><a href="https://github.com/mango/slideout#npm-scripts" target="_blank">npm-scripts</a></li>
			</ul>
		</section>

		<section class="menu-section">
			<h3 class="menu-section-title">Docs</h3>
			<ul class="menu-section-list">
				<li><a href="https://github.com/mango/slideout#installation" target="_blank">Installation</a></li>
				<li><a href="https://github.com/mango/slideout#usage" target="_blank">Usage</a></li>
				<li><a href="https://github.com/mango/slideout#api" target="_blank">API</a></li>
				<li><a href="https://github.com/mango/slideout#npm-scripts" target="_blank">npm-scripts</a></li>
			</ul>
		</section>

		<section class="menu-section">
			<h3 class="menu-section-title">Docs</h3>
			<ul class="menu-section-list">
				<li><a href="https://github.com/mango/slideout#installation" target="_blank">Installation</a></li>
				<li><a href="https://github.com/mango/slideout#usage" target="_blank">Usage</a></li>
				<li><a href="https://github.com/mango/slideout#api" target="_blank">API</a></li>
				<li><a href="https://github.com/mango/slideout#npm-scripts" target="_blank">npm-scripts</a></li>
			</ul>
		</section>

		<section class="menu-section">
			<h3 class="menu-section-title">Docs</h3>
			<ul class="menu-section-list">
				<li><a href="https://github.com/mango/slideout#installation" target="_blank">Installation</a></li>
				<li><a href="https://github.com/mango/slideout#usage" target="_blank">Usage</a></li>
				<li><a href="https://github.com/mango/slideout#api" target="_blank">API</a></li>
				<li><a href="https://github.com/mango/slideout#npm-scripts" target="_blank">npm-scripts</a></li>
			</ul>
		</section>
	</nav>-->

	<!--Web header-->
	<header class="main-header phone-hide">
		<div class="container">
			<div class="logo"><img src="app/assets/Images/logo.jpg" width="418" height="61"  alt=""/></div>
			<div class="top-link"><a ng-if="loggedindetails.loginstatus != 1" ui-sref="frontend.login">Login</a><a ng-if="loggedindetails.user_type_id == 2" ui-sref="frontend.dashboard">{{loggedindetails.email}}</a><a ng-if="loggedindetails.user_type_id == 3" ui-sref="frontend.merchantprofile">{{loggedindetails.email}}</a>  |  <a ng-if="loggedindetails.loginstatus != 1" ui-sref="frontend.register">Register</a><a ng-if="loggedindetails.loginstatus == 1" href="javascript:void(0)" ng-click="userLogout();">Logout</a></div>
			<div class="dx-clearfix"></div>
			<div class="nab-bar">
				<div class="navigation phone-hide">
					<ul>
						<li><a ui-sref="frontend.index" ui-sref-active="active">Home</a></li>
						<li><a ui-sref="frontend.voucher" ui-sref-active="active">Voucher</a></li>
						<li><a ui-sref="frontend.membership" ui-sref-active="active">Membership</a></li>
						<li><a ui-sref="frontend.marketplace" ui-sref-active="active">Marketplace</a></li>
						<li ng-show="showMember" id="dropdown"><a href="">Member</a>
						    <ul  id="dropdown-content">
						        <li><a ui-sref="frontend.allvoucher">My Voucher</a></li>
						        <li><a ui-sref="frontend.membership">My Membership</a></li>
						        <li><a ui-sref="frontend.setting">My Account</a></li>
						        <li><a href="#">My Points</a></li>
						        <li><a href="#">Event Offer</a></li>
						        <li><a ui-sref="frontend.queuing">Queuing</a></li>
						        <li><a ui-sref="frontend.preorder">Pre-Order</a></li>
						        <li><a ui-sref="frontend.feedback">Feedback</a></li>
						    </ul>    
						</li>
						<li><a ui-sref-active="active" ui-sref="frontend.news">News</a></li>

					</ul>
				</div>
				<div class="search-br"><img src="app/assets/Images/search.png" width="266" height="33"  alt=""/></div>
			</div>
		</div>
		<div class="dx-clearfix"></div>
	</header>

	<!--Mobile header-->
	<header class="mobile-header tablet-hide">

		<div class="m-logo"><img src="app/assets/Images/m-logo.png" width="173" height="17"  alt=""/></div>
		<div class="m-top-link">
			<div class="search"><img src="app/assets/Images/s-icon-m.png" width="14" height="14"  alt=""/></div>
			<div class="cat-menu" ><a href="javascript:;" onclick="menuClick()" id="toggle-menu"><img src="app/assets/Images/m-menu.png" width="16" height="13"  alt=""/></a></div>
		</div>
	</header>


</div>
