<style>
	.choose_file{
		/*position:relative;*/
		display:inline-block;
		/*border-radius:8px;*/
		border:none;
		padding: 5px 6px 5px 8px;
		font: normal 14px Myriad Pro, Verdana, Geneva, sans-serif;
		color: #fff;
		margin-top: 2px;
		/*background:white;*/
		background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
		width: 90%;
		height: 20px;
		position: absolute;
		bottom: 10px;
	}
	.choose_file input[type="file"]{
		-webkit-appearance:none;
		position:absolute;
		top:0; left:0;
		opacity:0;
	}
</style>
<div ng-controller="leftbarCtrl">

	<div class="left-panel phone-hide">
		<div class="profile-img" style="position: relative;">
			<!--<img src="app/assets/Images/default-profile.png" width="100%" height="auto"  alt=""/>-->
			<img src="{{userImagePath}}" width="100%" height="auto"  alt=""/>
			<!--<form>
			<input type="file" id="i_file" name="file" ng-file-select="onFileSelect($files)" />
				</form>-->
			<div class="choose_file">
				<span style="margin-left: 20px;">Change Image</span>
				<form>
				<input type="file" id="i_file" name="file" class="form-control" ng-file-select="onFileSelect($files)" />
				</form>
			</div>
		</div>
		<ul>
			<li ng-if="loggedindetails.user_type_id == 2"><a ui-sref="frontend.setting"><i class="fa fa-gear"></i> Setting</a></li>
			<li ng-if="loggedindetails.user_type_id == 2"><a ui-sref="frontend.changepassword"><i class="fa fa-lock"></i> Change Password</a></li>
			<li ng-if="loggedindetails.user_type_id == 2"><a ui-sref="frontend.profile"><i class="fa fa-user"></i> Change Profile</a></li>
			<li ng-if="loggedindetails.user_type_id == 2"><a ui-sref="frontend.allvoucher"><i class="fa fa-user"></i> Voucher</a></li>
			<li ng-if="loggedindetails.user_type_id == 2"><a ui-sref="frontend.bidvoucher"><i class="fa fa-user"></i> Resell Voucher</a></li>
			<li ng-if="loggedindetails.user_type_id == 2"><a ui-sref="frontend.swapvoucher"><i class="fa fa-user"></i> Voucher For Swap</a></li>
			<li ng-if="loggedindetails.user_type_id == 2"><a ui-sref="frontend.mymembership"><i class="fa fa-user"></i> My Membership</a></li>
			<li ng-if="loggedindetails.user_type_id == 2"><a ui-sref="frontend.mypoints"><i class="fa fa-user"></i> My Points</a></li>
			<!--<li ui-sref-active="active"><a ui-sref="frontend.allvoucher"><i class="fa fa-user"></i> Resell Voucher</a></li>-->

			<li ng-if="loggedindetails.user_type_id == 3"><a ui-sref="frontend.merchantprofile"><i class="fa fa-user"></i> Change Profile</a></li>
			<!--<li ng-if="loggedindetails.user_type_id == 3"><a ui-sref="frontend.merchantoffer"><i class="fa fa-user"></i> My Offer</a></li>
			<li ng-if="loggedindetails.user_type_id == 3"><a ui-sref="frontend.merchantaddoffer"><i class="fa fa-user"></i> Add Offer</a></li>-->

		</ul>

	</div>

	<div class="m-left-panel tablet-hide">
		<div class="profile-img">
			<img src="app/assets/Images/default-profile.png" width="100%" height="auto"  alt=""/>
		</div>
		<ul ng-if="loggedindetails.user_type_id == 2">
			<li><a ui-sref="frontend.setting"><i class="fa fa-gear"></i> Setting</a></li>
			<li><a ui-sref="frontend.changepassword"><i class="fa fa-lock"></i> Change Password</a></li>
			<li><a ui-sref="frontend.profile"><i class="fa fa-user"></i> Change Profile</a></li>
			<li><a ui-sref="frontend.allvoucher"><i class="fa fa-user"></i> Voucher</a></li>
			<li><a ui-sref="frontend.bidvoucher"><i class="fa fa-user"></i> Resell Voucher</a></li>
			<li><a ui-sref="frontend.mymembership"><i class="fa fa-user"></i> My Membership</a></li>
			<li><a ui-sref="frontend.mypoints"><i class="fa fa-user"></i> My Points</a></li>
			<!--<li ui-sref-active="active"><a ui-sref="frontend.allvoucher"><i class="fa fa-user"></i> Resell Voucher</a></li>-->
		</ul>
		<ul ng-if="loggedindetails.user_type_id == 3">
			<li><a ui-sref="frontend.setting"><i class="fa fa-gear"></i> Setting</a></li>
			<li><a ui-sref="frontend.changepassword"><i class="fa fa-lock"></i> Change Password</a></li>
			<li><a ui-sref="frontend.profile"><i class="fa fa-user"></i> Change Profile</a></li>
			<!--<li><a ui-sref="frontend.allvoucher"><i class="fa fa-user"></i> My Offer</a></li>-->
			<!--<li><a ui-sref="frontend.bidvoucher"><i class="fa fa-user"></i> Resell Voucher</a></li>
			<li><a ui-sref="frontend.mypoints"><i class="fa fa-user"></i> My Points</a></li>-->
			<!--<li ui-sref-active="active"><a ui-sref="frontend.allvoucher"><i class="fa fa-user"></i> Resell Voucher</a></li>-->
		</ul>
	</div>
</div>
