<div ng-controller="merchantheaderCtrl">
	<div class="container phone-hide">
		<div class="merchant-nav">
			<ul>
				<li><p><a ui-sref="frontend.merchantmembership({id:merchant_id,res_id:res_id})" ui-sref-active="active" href="#">Home</a></p></li>
				<li><p><a ui-sref="frontend.websitefeatureds({id:merchant_id,res_id:res_id})" ui-sref-active="active">Feature Menu</a></p></li>
				<li><p><a ui-sref="frontend.websitemenus({id:merchant_id,res_id:res_id})" ui-sref-active="active">All Menu</a></p></li>
				<li><p><a ui-sref="frontend.websitenews({id:merchant_id,res_id:res_id})" ui-sref-active="active">Events & News</a></p></li>
				<li><p><a href="http://52.39.33.188/Member_Ship/MasterData/member_reward_redeem_mfoodgate.aspx?MemberID={{memberId}}&MerchantID={{merchantId}}&OutletID={{resId}}" target="_blank">Membership</a></p></li>
				<li><p><a ui-sref="frontend.websitepromos({id:merchant_id,res_id:res_id})" ui-sref-active="active">Promotion</a></p></li>
				<li><p><a ui-sref="frontend.websiteabout({id:merchant_id,res_id:res_id})" ui-sref-active="active">About Us</a></p></li>
			</ul>
		</div>
	</div>
	<div class="m-merchant-nav tablet-hide">
		<ul>
			<li><p><a ui-sref="frontend.merchantmembership({id:merchant_id,res_id:res_id})" ui-sref-active="active" href="#">Home</a></p></li>
			<li><p><a ui-sref="frontend.websitefeatureds({id:merchant_id,res_id:res_id})" ui-sref-active="active">Feature Menu</a></p></li>
			<li><p><a ui-sref="frontend.websitemenus({id:merchant_id,res_id:res_id})" ui-sref-active="active">All Menu</a></p></li>
			<li><p><a ui-sref="frontend.websitenews({id:merchant_id,res_id:res_id})" ui-sref-active="active">Events & News</a></p></li>
			<li><p><a href="http://52.39.33.188/Member_Ship/MasterData/member_reward_redeem_mfoodgate.aspx?MemberID={{memberId}}&MerchantID={{merchantId}}&OutletID={{resId}}" target="_blank">Membership</a></p></li>
			<li><p><a ui-sref="frontend.websitepromos({id:merchant_id,res_id:res_id})" ui-sref-active="active">Promotion</a></p></li>
			<li><p><a ui-sref="frontend.websiteabout({id:merchant_id,res_id:res_id})" ui-sref-active="active">About Us</a></p></li>
		</ul>
	</div>
</div>