<div ng-controller="merchantleftbarCtrl">
	<div class="category-left phone-hide">
		<h1>Restaurants</h1>
		<ul>
			<li ng-repeat="restaurant in restaurants"><a href="javascript:void(0);" ng-click="changerestaurant(restaurant)">{{restaurant.title}}</a></li>
		</ul>
	</div>

	<div class="m-merchant-nav m-left-panel2 tablet-hide">
		<h1>Restaurants</h1>
		<ul>
			<li ng-repeat="restaurant in restaurants"><p><a href="javascript:void(0);" ng-click="changerestaurant(restaurant)"><h1><img src="app/assets/Images/setting.png" width="35" height="35"  alt=""/></h1>{{restaurant.title}}</a></p></li>
		</ul>
	</div>
</div>