/* Base */

#page {
	position: relative; /* Set the position property so z-index will apply */
	z-index: 20; /* Make sure this is higher than #menu */
	height: 100%;
	top: 0;
	
}

#page h1 {
	/*margin: 0;*/
}

#toggle-menu {
	position: absolute;
	/*top: 10px;
	right: 10px;
	padding: 15px 10px;
	border: 1px solid #eee;*/
}

#menu {
	display: none;
	position: fixed;
	top: 50px;
	right: 0;
	margin: 0;
	background: #333;
	z-index: 1; /* Make sure the z-index is lower than the #page */
	height: 100%;
	width:190px;
	height: 100% !important;
	/*min-height: 500px !important;*/
    padding: 15px 15px;
}
#menu ul{
    overflow: auto;
    height:  430px;
    list-style: none;
    width:100%;
    padding: 0 25px 0 0 ;
}
#menu a {
	display: block;
	color: #fff;
	padding: 10px 0;
	border-bottom: 1px solid rgba( 255, 255, 255, 0.05 );
	text-decoration: none;
	font-size: 12px;
}
#menu ul li ul{ list-style-type: none; height:  auto; }
#menu ul li ul li{ padding-left: 15px; background: #414141; }
#menu ul li ul li a{color:#ccc;}
/* Animations */

#page, #menu {
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
}

/* Hide the menu unless it's animating or visible */
.animating #menu, .menu-visible #menu {
	display: block;
}

/***
* If the animating class is present then apply
* the CSS transition to #page over 250ms.
*/
.animating #page {
	transition: transform .25s ease-in-out;
	-webkit-transition: -webkit-transform .25s ease-in-out;
}

/***
* If the left class is present then transform
* the #page element 240px to the left.
*/	
.animating.left #page {
	transform: translate3d( -240px, 0, 0 );
	-webkit-transform: translate3d( -240px, 0, 0 );
}

/***
* If the right class is present then transform
* the #page element 240px to the right.
*/
.animating.right #page {
	transform: translate3d( 240px, 0, 0 );
	-webkit-transform: translate3d( 240px, 0, 0 );
}

/***
* If the menu-visible class is present then
* shift the #page 240px from the right edge
* via position: absolute to keep it in the 
* open position. When .animating, .left and
* .right classes are not present the CSS
* transform does not apply to #page.
*/
.menu-visible #page {
	right: 240px;
}

#menu input[type="text"]{background: url(../Images/icon-search.png) no-repeat 93% center #6a6a6a; width:96% !important;
	font-size:12px; padding: 0 5px; color:#fff; border: none; height: 33px; line-height: 33px;
border: solid 1px #3d3d3d;}

#menu .select-box{background: url(../Images/arrow-d-2.png) no-repeat 93% center #6a6a6a; width:96% !important;
	font-size:14px; padding: 0 5px; color:#fff; border: none; height: 33px; line-height: 33px;
	border: solid 1px #3d3d3d; margin-bottom:  10px; overflow:  hidden;}
#menu .select-box select{ width:110%; background: transparent; border: none; height:28px; line-height: 14px; font-size: 12px; color:#fff; }