<!--Web header-->
<div ng-controller="allvoucherCtrl">

    <div class="container phone-hide">
        <div class="myaccount-details">
            <h1>Voucher</h1>
                <div data-ng-include=" 'app/views/partials/leftbar.html' " ></div>

            <div class="profile-details">
                <!--<h3>All Voucher</h3>
                <div class="reseller-section phone-hide" style="border:none;">

                    <ul>
                        <li ng-repeat="voucherDetail in voucherInfo">
                            <div class="pro-item">
                                <div class="logo-box">
                                    <div class="p-circle">{{voucherDetail.offer_percent}}%</div>
                                    <img src="{{voucherDetail.image}}" width="218" height="100"  alt=""/>
                                </div>
                                <div class="desc">
                                    <h2>{{voucherDetail.title}}</h2>

                                    <div class="price">
                                        <h2>RP {{voucherDetail.price-((voucherDetail.price*voucherDetail.offer_percent)/100)}}</h2>
                                        <p>RP {{voucherDetail.price}}</p>


                                    </div>
                                    <div class="pts">
                                        <p>{{voucherDetail.buy_count}} Sold</p>
                                        <p> <button class="btn-default" ng-click="voucherdetails(voucherDetail.voucher_id)">Details</button></p>
                                    </div>
                                </div>
                            </div>
                        </li>


                        <button class="btn-default" ng-click="">Load More</button>
                    </ul>

                </div>-->
                <div class="pvoucher-section phone-hide">
                    <h1>All Voucher</h1>
                    <ul>
                        <li ng-repeat="voucherDetail in voucherInfo">
                            <div class="pro-item">
                                <div class="logo-box">
                                    <!--<div class="p-circle">5X</div>-->
                                    <a ui-sref="frontend.voucherdetail({ voucherId: voucherDetail.id })"><img src="{{voucherDetail.image}}" width="218" height="100"  alt=""/></a>
                                </div>
                                <div class="desc">
                                    <h2>Title</h2>
                                    <h3>{{voucherDetail.offer_percent}}% off</h3>
                                    <p class="price">Price <span>IDR{{voucherDetail.price}}</span> </p>
                                    <p class="price">Offer Price  <span>IDR{{voucherDetail.price-((voucherDetail.price*voucherDetail.offer_percent)/100)}}</span></p>
                                    <div class="btn_o"><a ui-sref="frontend.voucherdetail({ voucherId: voucherDetail.id })">Detail</a></div>
                                    <div class="btn_g"><a ui-sref="frontend.vouchersell({ voucherId: voucherDetail.id })">Resell</a></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="dx-clearfix"></div>
                <div class="pvoucher-section phone-hide">
                    <h1>Expire soon Voucher</h1>
                    <ul>
                        <li ng-repeat="voucherDetail in soonVoucherInfo">
                            <div class="pro-item">
                                <div class="logo-box">
                                    <!--<div class="p-circle">5X</div>-->
                                    <a ui-sref="frontend.voucherdetail({ voucherId: voucherDetail.id })"><img src="{{voucherDetail.image}}" width="218" height="100"  alt=""/></a>
                                </div>
                                <div class="desc">
                                    <h2>Title</h2>
                                    <h3>{{voucherDetail.offer_percent}}% off</h3>
                                    <p class="price">Price <span>IDR{{voucherDetail.price}}</span> </p>
                                    <p class="price">Offer Price  <span>IDR{{voucherDetail.price-((voucherDetail.price*voucherDetail.offer_percent)/100)}}</span></p>
                                    <div class="btn_o"><a ui-sref="frontend.voucherdetail({ voucherId: voucherDetail.id })">Detail</a></div>
                                    <div class="btn_g"><a ui-sref="frontend.vouchersell({ voucherId: voucherDetail.id })">Resell</a></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>


                <!--<h3>All Voucher</h3>-->
                <!--<div id="gridContainer" dx-data-grid="dataGridOptions"></div>-->

                <!--<h3>Expire soon Voucher</h3>-->
                <!--<div id="gridContainer2" dx-data-grid="dataGridOptions2"></div>-->
            </div>

        </div>
    </div>
    <div class="m-myaccount-details tablet-hide">
        <h1>Voucher</h1>
        <div data-ng-include=" 'app/views/partials/leftbar.html' " ></div>

        <div class="m-profile-details">
            <div class="m-pvoucher-section tablet-hide">
                <h1>All Voucher</h1>
                <ul>
                    <li ng-repeat="voucherDetail in voucherInfo">
                        <div class="pro-item">
                            <div class="logo-box">
                                <!--<div class="p-circle">5X</div>-->
                                <a ui-sref="frontend.voucherdetail({ voucherId: voucherDetail.id })"><img src="{{voucherDetail.image}}" width="218" height="100"  alt=""/></a>
                            </div>
                            <div class="desc">
                                <h2>Title</h2>
                                <h3>{{voucherDetail.offer_percent}}% off</h3>
                                <p class="price">Price <span>IDR{{voucherDetail.price}}</span> </p>
                                <p class="price">Offer Price  <span>IDR{{voucherDetail.price-((voucherDetail.price*voucherDetail.offer_percent)/100)}}</span></p>
                                <div class="btn_o"><a ui-sref="frontend.voucherdetail({ voucherId: voucherDetail.id })">Detail</a></div>
                                <div class="btn_g"><a ui-sref="frontend.vouchersell({ voucherId: voucherDetail.id })">Resell</a></div>
                                <!--<div class="btn_g"><a href="">Give Friend</a></div>-->
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="dx-clearfix"></div>
            <div class="m-pvoucher-section tablet-hide">
                <h1>Expire soon Voucher</h1>
                <ul>
                    <li ng-repeat="voucherDetail in soonVoucherInfo">
                        <div class="pro-item">
                            <div class="logo-box">
                                <!--<div class="p-circle">5X</div>-->
                                <a ui-sref="frontend.voucherdetail({ voucherId: voucherDetail.id })"><img src="{{voucherDetail.image}}" width="218" height="100"  alt=""/></a>
                            </div>
                            <div class="desc">

                                <h2>Title</h2>
                                <h3>{{voucherDetail.offer_percent}}% off</h3>
                                <p class="price">Price <span>IDR{{voucherDetail.price}}</span> </p>
                                <p class="price">Offer Price  <span>IDR{{voucherDetail.price-((voucherDetail.price*voucherDetail.offer_percent)/100)}}</span></p>
                                <div class="btn_o"><a ui-sref="frontend.voucherdetail({ voucherId: voucherDetail.id })">Detail</a></div>
                                <div class="btn_g"><a ui-sref="frontend.vouchersell({ voucherId: voucherDetail.id })">Resell</a></div>
                                <!--<div class="btn_g"><a href="">Give Friend</a></div>-->
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>


</div>


