<link rel="stylesheet" type="text/css" href="app/assets/css/reset.css" />
<link rel="stylesheet" href="app/assets/css/dx.common.css" />
<link rel="stylesheet" href="app/assets/css/dx.light.css" />
<link rel="stylesheet" href="app/assets/css/index.css" />
<link rel="stylesheet" href="app/assets/css/menu.css" />
<link rel="stylesheet" type="text/css" href="app/assets/css/phone.css" media="screen and (max-width: 739px)"/>
<link rel="stylesheet" type="text/css" href="bower_components/ngToast/ngToast.min.css" />


<link rel="stylesheet" type="text/css" href="app/assets/css/site.css" media="screen and (min-width: 740px)" />

<div data-ng-include=" 'app/views/partials/header.html' " ></div>
    <div id="page">
        
        <div class="dx-clearfix" data-ng-include=" 'app/views/partials/maincontent.html' " ></div>
        <div data-ng-include=" 'app/views/partials/footer.html' " ></div>
     </div>
<div ng-controller="mobileMenuCtrl">
    <div class="m-app-menu tablet-hide">
        <ul>
            <li class="active">
                <a ui-sref="frontend.index" ui-sref-active="active"><img src="app/assets/Images/MobileIcons/home.png" alt="" />
                    <p>Home</p></a>
            </li>
            <li><a ui-sref="frontend.voucher" ui-sref-active="active"><img src="app/assets/Images/MobileIcons/vouture.png" alt="" />
                <p>Voucher</p></a>
            </li>
            <li><a ui-sref="frontend.membership" ui-sref-active="active"><img src="app/assets/Images/MobileIcons/membership.png" alt="" />
                <p>Membership</p></a>
            </li>
            <li>
                <a ui-sref="frontend.marketplace" ui-sref-active="active"><img src="app/assets/Images/MobileIcons/market_place.png" alt="" />
                    <p>Marketplace</p></a>
            </li>
        </ul>
    </div>
<div id="menu">
    <ul class="tablet-hide" ng-init="getLoginDetails()">
    	<li><input type="text" placeholder="Search"></li>

        <li><a onclick="menuClick()" title="Home" ui-sref="frontend.index">Home</a></li>
        <li><a onclick="menuClick()" title="Voucher" ui-sref="frontend.voucher">Voucher</a></li>
        <li><a onclick="menuClick()" title="Membership" ui-sref="frontend.membership">Membership</a></li>
        <li><a onclick="menuClick()" title="Marketplace" ui-sref="frontend.marketplace">Marketplace</a></li>
        <li><a onclick="menuClick()" title="News" ui-sref="frontend.news">News</a></li>
        <span ng-show="!showMember">
        <li><a onclick="menuClick()" title="Login" ui-sref="frontend.login" >Login</a></li>
        <li><a onclick="menuClick()" title="Register" ui-sref="frontend.register">Register</a></li>
        </span>
        <span ng-show="showMember">
        <li><a onclick="menuClick()" title="Login" ui-sref="frontend.profile" >My Profile</a></li>
            <li><a href="">Member</a>
            <ul>
        <li><a onclick="menuClick()" title="My Voucher" ui-sref="frontend.allvoucher">My Voucher</a></li>
        <li><a onclick="menuClick()" title="My Membership" ui-sref="frontend.mymembership">My Membership</a></li>
        <li><a onclick="menuClick()" title="My Account" ui-sref="frontend.profile">My Account</a></li>
        <li><a onclick="menuClick()" title="My Points" ui-sref="frontend.mypoints">My Points</a></li>
        <li><a onclick="menuClick()" title="Event Offer" href="#">Event Offer</a></li>
        <li><a onclick="menuClick()" title="Queuing" ui-sref="frontend.queuing">Queuing</a></li>
        <li><a onclick="menuClick()" title="Pre-Order" ui-sref="frontend.preorder">Pre-Order</a></li>
        <li><a onclick="menuClick()" title="Feedback" ui-sref="frontend.feedback">Feedback</a></li>
        <li><a onclick="menuClick()" title="Logout" ng-click="userLogout()" title="Logout">Logout</a></li>
                </ul></li>
        </span>

    </ul>
</div>

</div>

