<!--Web header-->
<div ng-controller="bidvoucherCtrl">

    <div class="container phone-hide">
        <div class="myaccount-details">
            <h1>Voucher</h1>
                <div data-ng-include=" 'app/views/partials/leftbar.html' " ></div>

            <div class="profile-details">
                <h3>Resell Voucher posted by me</h3>
                <div id="gridContainer" dx-data-grid="dataGridOptions"></div>

                <h3>Bidded by ownself</h3>
                <div id="gridContainer3" dx-data-grid="dataGridOptions3"></div>

                <h3>Bid on voucher</h3>
                <div id="gridContainer2" dx-data-grid="dataGridOptions2"></div>
            </div>

        </div>
    </div>
    <div class="m-myaccount-details tablet-hide">
        <h1>Voucher</h1>
        <div data-ng-include=" 'app/views/partials/leftbar.html' " ></div>

        <div class="m-profile-details">
            <h3>Resell Voucher posted by me</h3>
            <div id="gridContainer" dx-data-grid="dataGridOptions"></div>

            <h3>Bidded by ownself</h3>
            <div id="gridContainer3" dx-data-grid="dataGridOptions3"></div>

            <h3>Bid on voucher</h3>
            <div id="gridContainer2" dx-data-grid="dataGridOptions2"></div>
        </div>

    </div>


</div>


