<!--Web header-->
<div ng-controller="giftvoucherCtrl">

    <div class="container phone-hide">
        <div class="myaccount-details">
            <h1>Gift</h1>
                <div data-ng-include=" 'app/views/partials/leftbar.html' " ></div>

            <div class="profile-details">
                <h3>User List</h3>
                <div id="gridContainer" dx-data-grid="dataGridOptions"></div>


            </div>

        </div>
    </div>
    <div class="m-myaccount-details tablet-hide">
        <h1>Gift</h1>
        <div data-ng-include=" 'app/views/partials/leftbar.html' " ></div>

        <div class="m-profile-details">
            <h3>User List</h3>
            <div id="gridContainer" dx-data-grid="dataGridOptions"></div>


        </div>

    </div>


</div>


