<!--Web header-->
<div ng-controller="giftvoucherlistCtrl">

    <div class="container phone-hide">
        <div class="myaccount-details">
            <h1>Gift Voucher</h1>
            <div data-ng-include=" 'app/views/partials/leftbar.html' " ></div>

            <div class="profile-details">
                <h3>Give Voucher</h3>
                <div id="gridContainer" dx-data-grid="dataGridOptions2"></div>

                <h3>Received Gift Voucher</h3>
                <div id="gridContainer2" dx-data-grid="dataGridOptions"></div>


            </div>

        </div>
    </div>

    <div class="m-myaccount-details tablet-hide">
        <h1>Gift Voucher</h1>
        <div data-ng-include=" 'app/views/partials/leftbar.html' " ></div>

        <div class="m-profile-details">
            <h3 style="font-size: 18px; line-height: 30px; padding: 10px;">Give Voucher</h3>
            <div dx-list="{
      onInitialized:loadList
    }">

                <div  data-options="dxTemplate: { name: 'item' }">

                    <div style="display:inline-block; margin: 5px;">
                        <p style="font-size:larger;"><b>{{voucher_name}}</b></p>
                        <p>Resturant Name: <i>{{resturant_name}}</i></p>
                        <p>Price: <i>{{price}}</i></p>
                        <p>To Friend Name: <i>{{friend}}</i></p>
                        <p>Expire Date: <i>{{offer_to_date}}</i></p>
                    </div>


                </div>
            </div>
            <div class="dx-clearfix"></div>

            <h3 style="font-size: 18px; line-height: 30px; padding: 10px;">Received Gift Voucher</h3>
            <div dx-list="{
      onInitialized:loadExpiredPointList
    }">

                <div data-options="dxTemplate: { name: 'item' }">

                    <div style="display:inline-block; margin: 5px;">
                        <p style="font-size:larger;"><b>{{voucher_name}}</b></p>
                        <p>Resturant Name: <i>{{resturant_name}}</i></p>
                        <p>Price: <i>{{price}}</i></p>
                        <p>From Friend Name: <i>{{friend}}</i></p>
                        <p>Expire Date: <i>{{offer_to_date}}</i></p>
                    </div>

                </div>
            </div>
        </div>

    </div>


</div>


