<!--Web Body-->
<div ng-controller="homeCtrl">
<div class="container phone-hide">
    <div class="ads-banner"><img src="app/assets/Images/banner.jpg" width="1081" height="88"  alt=""/></div>
</div>
<div class="m-banner moblie-potrait">
    <div class="m-ads-banner">
        <img src="app/assets/Images/m-banner.png" alt="" width="320px"/>
    </div>
</div>
<!--mobile Body-->

<!--Section - 1-->
<div class="container phone-hide">
    <!--Left menu-->
    <div class="category-left">
        <div class="category-left">
            <h1>Browse Categories</h1>
            <ul>
                <li ng-repeat="catdetail in catInfo"><a href="">{{catdetail.name}}</a></li>

                <!--<li><a href="">Western Food (39)</a></li>
                <li><a href="">Indonesian Food (108)</a></li>
                <li><a href="">Japanese Food (65)</a></li>
                <li><a href="">Warong Kopi (27)</a></li>
                <li><a href="">Food Court (8)</a></li>
                <li><a href="">All Restaurants (280)</a></li>-->
            </ul>
        </div>
    </div>
    <!--Featured Promo-->
    <div class="featured-Promo">
        <h1>Featured Promo</h1>
        <ul>
            <li>
                <div class="pro-item">
                    <img src="app/assets/Images/pro-1.png" width="406" height="255"  alt=""/>
                    <div class="p-circle">50%</div>
                    <div class="desc">
                        <div class="txt">
                            <h2>Voucher Oel Merdeka</h2>
                            <p>Bekasi</p>
                            <p class="price"><span>IDR150.000</span> IDR75.000</p>
                        </div>
                        <div class="view-btn"><a href=""><img src="app/assets/Images/view-btn.png" width="66" height="42"  alt=""/></a></div>
                    </div>
                </div>
            </li>
            <li>
                <div class="pro-item">
                    <img src="app/assets/Images/pro-2.png" width="406" height="255"  alt=""/>
                    <div class="p-circle">50%</div>
                    <div class="desc">
                        <div class="txt">
                            <h2>Voucher Oel Merdeka</h2>
                            <p>Bekasi</p>
                            <p class="price"><span>IDR150.000</span> IDR75.000</p>
                        </div>
                        <div class="view-btn"><a href=""><img src="app/assets/Images/view-btn.png" width="66" height="42"  alt=""/></a></div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<!--mobile promo-->
<div class="m-promo tablet-hide">
    <p class="m-promo-heading">Featured Promo</p>
    <div class="m-pro-item">
        <img width="100%" height="255" src="app/assets/Images/pro-1.png" alt="">
        <div class="m-promo-circle">50%</div>
        <div class="desc">
            <div class="txt">
                <h2>Voucher Oel Merdeka</h2>
                <p>Bekasi</p>
                <p class="price"><span>IDR150.000</span> IDR75.000</p>
            </div>
            <div class="view-btn"><a href=""><img width="66" height="42" alt="" src="app/assets/Images/view-btn.png"></a></div>
        </div>
    </div>
    <div class="m-promo-buttons-holder">
        <ul>
            <li><a href="">New Promo Today</a></li>
            <li><a href="">Featured Restaurant Last Day Promo</a></li>
        </ul>
    </div>
</div>
<!--end-->
<div class="dx-clearfix"></div>
<div class="container">
    <div class="new-Promo phone-hide">
        <h1>New Promo Today <span>(10 new)</span></h1>
        <ul>
            <li>
                <div class="pro-item">
                    <img src="app/assets/Images/pro-3.png" width="406" height="255"  alt=""/>
                    <div class="p-circle">50%</div>
                    <div class="desc">
                        <div class="txt">
                            <h2>Paket Hemat Sowe</h2>
                            <p>11D:21H:50M:20S</p>
                        </div>

                    </div>
                </div>
            </li>
            <li>
                <div class="pro-item">
                    <img src="app/assets/Images/pro-3.png" width="406" height="255"  alt=""/>
                    <div class="p-circle">50%</div>
                    <div class="desc">
                        <div class="txt">
                            <h2>Paket Hemat Sowe</h2>
                            <p>11D:21H:50M:20S</p>
                        </div>

                    </div>
                </div>
            </li>
            <li>
                <div class="pro-item">
                    <img src="app/assets/Images/pro-3.png" width="406" height="255"  alt=""/>
                    <div class="p-circle">50%</div>
                    <div class="desc">
                        <div class="txt">
                            <h2>Paket Hemat Sowe</h2>
                            <p>11D:21H:50M:20S</p>
                        </div>

                    </div>
                </div>
            </li>


        </ul>
    </div>
</div>
<div class="m-new-Promo tablet-hide">
    <div class="m-pro-item">
        <img width="100%" height="255" alt="" src="app/assets/Images/pro-3.png">
        <div class="m-promo-circle">50%</div>
        <div class="desc">
            <div class="txt">
                <h2>Paket Hemat Sowe</h2>
                <p>11D:21H:50M:20S</p>
            </div>
        </div>
    </div>
</div>

<div class="dx-clearfix"></div>
<div class="container">
    <div class="restaurant-Promo phone-hide">
        <h1>Featured Restaurant</h1>
        <ul>
            <li>
                <div class="pro-item">
                    <div class="logo-box"><img src="app/assets/Images/logo-1.png" width="218" height="100"  alt=""/></div>
                    <div class="desc">
                        <h2>IMPERIAL KITCHEN</h2>
                        <div class="btn"><a href="">View All Promo</a></div>
                    </div>
                </div>
            </li>
            <li>
                <div class="pro-item">
                    <div class="logo-box"><img src="app/assets/Images/logo-2.png" width="218" height="100"  alt=""/></div>
                    <div class="desc">
                        <h2>IMPERIAL KITCHEN</h2>
                        <div class="btn"><a href="">View All Promo</a></div>
                    </div>
                </div>
            </li>
            <li>
                <div class="pro-item">
                    <div class="logo-box"><img src="app/assets/Images/logo-3.png" width="218" height="100"  alt=""/></div>
                    <div class="desc">
                        <h2>IMPERIAL KITCHEN</h2>
                        <div class="btn"><a href="">View All Promo</a></div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="dx-clearfix"></div>
<div class="container">
    <div class="new-Promo phone-hide">
        <h1>New Promo Today <span>(10 new)</span></h1>
        <ul>
            <li>
                <div class="pro-item">
                    <img src="app/assets/Images/pro-3.png" width="406" height="255"  alt=""/>
                    <div class="p-circle">50%</div>
                    <div class="desc">
                        <div class="txt">
                            <h2>Paket Hemat Sowe</h2>
                            <p>11D:21H:50M:20S</p>
                        </div>

                    </div>
                </div>
            </li>
            <li>
                <div class="pro-item">
                    <img src="app/assets/Images/pro-3.png" width="406" height="255"  alt=""/>
                    <div class="p-circle">50%</div>
                    <div class="desc">
                        <div class="txt">
                            <h2>Paket Hemat Sowe</h2>
                            <p>11D:21H:50M:20S</p>
                        </div>

                    </div>
                </div>
            </li>
            <li>
                <div class="pro-item">
                    <img src="app/assets/Images/pro-3.png" width="406" height="255"  alt=""/>
                    <div class="p-circle">50%</div>
                    <div class="desc">
                        <div class="txt">
                            <h2>Paket Hemat Sowe</h2>
                            <p>11D:21H:50M:20S</p>
                        </div>

                    </div>
                </div>
            </li>
            <li>
                <div class="pro-item">
                    <img src="app/assets/Images/pro-3.png" width="406" height="255"  alt=""/>
                    <div class="p-circle">50%</div>
                    <div class="desc">
                        <div class="txt">
                            <h2>Paket Hemat Sowe</h2>
                            <p>11D:21H:50M:20S</p>
                        </div>

                    </div>
                </div>
            </li>
            <li>
                <div class="pro-item">
                    <img src="app/assets/Images/pro-3.png" width="406" height="255"  alt=""/>
                    <div class="p-circle">50%</div>
                    <div class="desc">
                        <div class="txt">
                            <h2>Paket Hemat Sowe</h2>
                            <p>11D:21H:50M:20S</p>
                        </div>

                    </div>
                </div>
            </li>
            <li>
                <div class="pro-item">
                    <img src="app/assets/Images/pro-3.png" width="406" height="255"  alt=""/>
                    <div class="p-circle">50%</div>
                    <div class="desc">
                        <div class="txt">
                            <h2>Paket Hemat Sowe</h2>
                            <p>11D:21H:50M:20S</p>
                        </div>

                    </div>
                </div>
            </li>


        </ul>
    </div>
</div>

<div class="dx-clearfix"></div>
</div>