<!--Web Body-->

<div ng-controller="homeCtrl">
<div class="container phone-hide">
    <div class="ads-banner"><img src="app/assets/Images/banner.jpg" width="1081" height="88"  alt=""/></div>
</div>
<div class="m-banner moblie-potrait">
    <div class="m-ads-banner">
        <img src="app/assets/Images/m-banner.png" alt="" width="320px"/>
    </div>
</div>
<!--mobile Body-->

<!--Section - 1-->
<div class="container phone-hide">
    <!--Left menu-->
    <div class="category-left">
        <div class="category-left">
            <h1>Browse Categories</h1>
            <ul>
                <li ng-repeat="catdetail in catInfo"><a ui-sref="frontend.refinerestaurent({ categoryId: catdetail.id })">{{catdetail.name}}</a></li>

                <!--<li><a href="">Western Food (39)</a></li>
                <li><a href="">Indonesian Food (108)</a></li>
                <li><a href="">Japanese Food (65)</a></li>
                <li><a href="">Warong Kopi (27)</a></li>
                <li><a href="">Food Court (8)</a></li>
                <li><a href="">All Restaurants (280)</a></li>-->
            </ul>
        </div>
    </div>
    <!--Featured Promo-->
    <div class="featured-Promo">
        <h1>Featured Promo</h1>
        <ul>
            <li ng-repeat="featuredCatDetail in featuredCatInfo">
                <div class="pro-item">
                    <img src="{{featuredCatDetail.image}}" width="406" height="255"  alt=""/>
                    <div class="p-circle">{{featuredCatDetail.offer_percent}}%</div>
                    <div class="desc">
                        <div class="txt">
                            <h2>{{featuredCatDetail.title}}</h2>
                            <!--<p>Bekasi</p>-->
                            <p class="price"><span>IDR{{featuredCatDetail.price}}</span> IDR{{featuredCatDetail.price-((featuredCatDetail.price*featuredCatDetail.offer_percent)/100)}}</p>
                        </div>
                        <div class="view-btn"><a ui-sref="frontend.promodetails({ promoId: featuredCatDetail.id })"><img src="app/assets/Images/view-btn.png" width="66" height="42"  alt=""/></a></div>
                    </div>
                </div>
            </li>
            <!--<li>
                <div class="pro-item">
                    <img src="app/assets/Images/pro-1.png" width="406" height="255"  alt=""/>
                    <div class="p-circle">50%</div>
                    <div class="desc">
                        <div class="txt">
                            <h2>Voucher Oel Merdeka</h2>
                            <p>Bekasi</p>
                            <p class="price"><span>IDR150.000</span> IDR75.000</p>
                        </div>
                        <div class="view-btn"><a ui-sref="frontend.promodetails"><img src="app/assets/Images/view-btn.png" width="66" height="42"  alt=""/></a></div>
                    </div>
                </div>
            </li>
            <li>
                <div class="pro-item">
                    <img src="app/assets/Images/pro-2.png" width="406" height="255"  alt=""/>
                    <div class="p-circle">50%</div>
                    <div class="desc">
                        <div class="txt">
                            <h2>Voucher Oel Merdeka</h2>
                            <p>Bekasi</p>
                            <p class="price"><span>IDR150.000</span> IDR75.000</p>
                        </div>
                        <div class="view-btn"><a href=""><img src="app/assets/Images/view-btn.png" width="66" height="42"  alt=""/></a></div>
                    </div>
                </div>
            </li>-->
        </ul>
    </div>
</div>
<!--mobile promo-->
<div class="m-promo tablet-hide">
    <p class="m-promo-heading">Featured Promo</p>
    <div class="m-pro-item">
        <img width="100%" height="255" src="app/assets/Images/pro-1.png" alt="">
        <div class="m-promo-circle">50%</div>
        <div class="desc">
            <div class="txt">
                <h2>Voucher Oel Merdeka</h2>
                <p>Bekasi</p>
                <p class="price"><span>IDR150.000</span> IDR75.000</p>
            </div>
            <div class="view-btn"><a href=""><img width="66" height="42" alt="" src="app/assets/Images/view-btn.png"></a></div>
        </div>
    </div>
    <div class="m-promo-buttons-holder">
        <ul>
            <li><a href="">New Promo Today</a></li>
            <li><a href="">Featured Restaurant Last Day Promo</a></li>
        </ul>
    </div>
</div>
<!--end-->
<div class="dx-clearfix"></div>
<div class="container">
    <div class="new-Promo phone-hide">
        <h1>New Promo Today <span>({{newPromoCount}} new)</span></h1>
        <ul>
            <li ng-repeat="newPromoDetail in newPromoInfo">
                <div class="pro-item">
                    <img src="{{newPromoDetail.image}}" width="406" height="255"  alt=""/>
                    <div class="p-circle">{{newPromoDetail.offer_percent}}%</div>
                    <div class="desc">
                        <div class="txt">
                            <h2>{{newPromoDetail.title}}</h2>
                            <!--<p>11D:21H:50M:20S</p>-->
                            <p class="price"><span>IDR{{newPromoDetail.price}}</span> IDR{{newPromoDetail.price-((newPromoDetail.price*newPromoDetail.offer_percent)/100)}}</p>
                        </div>

                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="m-new-Promo tablet-hide">
    <div class="m-pro-item">
        <img width="100%" height="255" alt="" src="app/assets/Images/pro-3.png">
        <div class="m-promo-circle">50%</div>
        <div class="desc">
            <div class="txt">
                <h2>Paket Hemat Sowe</h2>
                <p>11D:21H:50M:20S</p>
            </div>
        </div>
    </div>
</div>

<div class="dx-clearfix"></div>
<div class="container">
    <div class="restaurant-Promo phone-hide">
        <h1>Featured Restaurant</h1>
        <ul>
            <li ng-repeat="restaurantDetail in restaurantInfo">
                <div class="pro-item">
                    <div class="logo-box"><img src="{{restaurantDetail.logo}}" width="218" height="100"  alt=""/></div>
                    <div class="desc">
                        <h2>{{restaurantDetail.title}}</h2>
                        <div class="btn"><a ui-sref="frontend.restaurentpromo({ restaurantId: restaurantDetail.id })">View All Promo</a></div>
                    </div>
                </div>
            </li>
            <!--<li>
                <div class="pro-item">
                    <div class="logo-box"><img src="app/assets/Images/logo-2.png" width="218" height="100"  alt=""/></div>
                    <div class="desc">
                        <h2>IMPERIAL KITCHEN</h2>
                        <div class="btn"><a href="">View All Promo</a></div>
                    </div>
                </div>
            </li>
            <li>
                <div class="pro-item">
                    <div class="logo-box"><img src="app/assets/Images/logo-3.png" width="218" height="100"  alt=""/></div>
                    <div class="desc">
                        <h2>IMPERIAL KITCHEN</h2>
                        <div class="btn"><a href="">View All Promo</a></div>
                    </div>
                </div>
            </li>-->
        </ul>
    </div>
</div>

<div class="dx-clearfix"></div>
<div class="container">
    <div class="new-Promo phone-hide">
        <h1>Menu Voucher Promo</h1>
        <ul>
            <li ng-repeat="menuPromoDetail in menuPromoInfo">
                <div class="pro-item">
                    <img src="{{menuPromoDetail.image}}" width="406" height="255"  alt=""/>
                    <div class="p-circle">{{menuPromoDetail.offer_percent}}%</div>
                    <div class="desc">
                        <div class="txt">
                            <h2>{{menuPromoDetail.title}}</h2>
                            <!--<p>11D:21H:50M:20S</p>-->
                            <p class="price"><span>IDR{{menuPromoDetail.price}}</span> IDR{{menuPromoDetail.price-((menuPromoDetail.price*menuPromoDetail.offer_percent)/100)}}</p>
                        </div>

                    </div>
                </div>
            </li>



        </ul>
    </div>
</div>

<div class="dx-clearfix"></div>
<div class="container">
    <div class="new-Promo phone-hide">
        <h1>Payment Voucher Promo</h1>
        <ul>
            <li ng-repeat="paymentPromoDetail in paymentPromoInfo">
                <div class="pro-item">
                    <img src="{{paymentPromoDetail.image}}" width="406" height="255"  alt=""/>
                    <div class="p-circle">{{paymentPromoDetail.offer_percent}}%</div>
                    <div class="desc">
                        <div class="txt">
                            <h2>{{paymentPromoDetail.title}}</h2>
                            <!--<p>11D:21H:50M:20S</p>-->
                            <p class="price"><span>IDR{{paymentPromoDetail.price}}</span> IDR{{paymentPromoDetail.price-((paymentPromoDetail.price*paymentPromoDetail.offer_percent)/100)}}</p>
                        </div>

                    </div>
                </div>
            </li>



        </ul>
    </div>
</div>

<div class="dx-clearfix"></div>
<div class="container">
    <div class="new-Promo phone-hide">
        <h1>Merchants Membership Promo</h1>
        <ul>
            <li ng-repeat="merchantMembershipPromoDetail in merchantMembershipPromoInfo">
                <div class="pro-item">
                    <img src="{{merchantMembershipPromoDetail.image}}" width="406" height="255"  alt=""/>
                    <div class="p-circle">{{merchantMembershipPromoDetail.offer_percent}}%</div>
                    <div class="desc">
                        <div class="txt">
                            <h2>{{merchantMembershipPromoDetail.title}}</h2>
                            <!--<p>11D:21H:50M:20S</p>-->
                            <p class="price"><span>IDR{{merchantMembershipPromoDetail.price}}</span> IDR{{merchantMembershipPromoDetail.price-((merchantMembershipPromoDetail.price*merchantMembershipPromoDetail.offer_percent)/100)}}</p>
                        </div>

                    </div>
                </div>
            </li>



        </ul>
    </div>
</div>

<div class="dx-clearfix"></div>
<div class="container">
    <div class="new-Promo phone-hide">
        <h1>Hot Selling</h1>
        <ul>
            <li ng-repeat="hotSellingDetail in hotSellingInfo">
                <div class="pro-item">
                    <img src="{{hotSellingDetail.image}}" width="406" height="255"  alt=""/>
                    <div class="p-circle">{{hotSellingDetail.offer_percent}}%</div>
                    <div class="desc">
                        <div class="txt">
                            <h2>{{hotSellingDetail.title}}</h2>
                            <!--<p>11D:21H:50M:20S</p>-->
                            <p class="price"><span>IDR{{hotSellingDetail.price}}</span> IDR{{hotSellingDetail.price-((hotSellingDetail.price*hotSellingDetail.offer_percent)/100)}}</p>
                        </div>

                    </div>
                </div>
            </li>



        </ul>
    </div>
</div>

<div class="dx-clearfix"></div>
<div class="container">
    <div class="new-Promo phone-hide">
        <h1>Last Day Promo</h1>
        <ul>
            <li ng-repeat="lastDayPromoDetail in lastDayPromoInfo">
                <div class="pro-item">
                    <img src="{{lastDayPromoDetail.image}}" width="406" height="255"  alt=""/>
                    <div class="p-circle">{{lastDayPromoDetail.offer_percent}}%</div>
                    <div class="desc">
                        <div class="txt">
                            <h2>{{lastDayPromoDetail.title}}</h2>
                            <!--<p>11D:21H:50M:20S</p>-->
                            <p class="price"><span>IDR{{lastDayPromoDetail.price}}</span> IDR{{lastDayPromoDetail.price-((lastDayPromoDetail.price*lastDayPromoDetail.offer_percent)/100)}}</p>
                        </div>

                    </div>
                </div>
            </li>



        </ul>
    </div>
</div>

    <div class="dx-clearfix"></div>
    <div class="container">
        <div class="new-Promo phone-hide">
            <h1>Special Promo</h1>
            <ul>
                <li ng-repeat="specialDetail in specialInfo">
                    <div class="pro-item">
                        <img src="{{specialDetail.image}}" width="406" height="255"  alt=""/>
                        <div class="p-circle">{{specialDetail.offer_percent}}%</div>
                        <div class="desc">
                            <div class="txt">
                                <h2>{{specialDetail.title}}</h2>
                                <p>{{specialDetail.special_tag}}</p>
                                <p class="price"><span>IDR{{specialDetail.price}}</span> IDR{{specialDetail.price-((specialDetail.price*specialDetail.offer_percent)/100)}}</p>
                            </div>

                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

<div class="dx-clearfix"></div>
</div>