<!--Web header-->
<div ng-controller="marketplaceCtrl">
    <div class="container">
        <div class="reseller-section phone-hide">
            <h1>Re-Seller Voucher</h1>
            <ul>
                <li ng-repeat="resaleDetail in resaleInfo">
                    <div class="pro-item">
                        <div class="logo-box">
                            <div class="p-circle">{{resaleDetail.offer_percent}}%</div>
                            <img src="{{resaleDetail.image}}" width="218" height="100"  alt=""/>
                        </div>
                        <div class="desc">
                            <h2>{{resaleDetail.title}}</h2>

                            <div class="price">
                                <h2>RP {{resaleDetail.price-((resaleDetail.price*resaleDetail.offer_percent)/100)}}</h2>
                                <p>RP {{resaleDetail.price}}</p>
                                <h6>Highetst Bid {{resaleDetail.high_bid}}</h6>
                                <h6>Lowest Bid {{resaleDetail.low_bid}}</h6>

                            </div>
                            <div class="pts">
                                <!--<h2>mPts 120</h2>-->
                                <p>{{resaleDetail.buy_count}} Sold</p>
                                <p> <button class="btn-default" ng-click="offerdetails(resaleDetail.voucher_id,resaleDetail.voucher_resale_id)">Details</button></p>
                            </div>
                        </div>
                    </div>
                </li>

                <!--<li>
                    <div class="pro-item">
                        <div class="logo-box">
                            <div class="p-circle">50%</div>
                            <img src="app/assets/Images/pro-2.png" alt=""/>
                        </div>
                        <div class="desc">
                            <h2>Tony Roma's Steak Combination Best Steak in town Great Offer !!</h2>

                            <div class="price">
                                <h2>RP 299,000</h2>
                                <p>RP 350,000</p>
                            </div>
                            <div class="pts">
                                <h2>mPts 120</h2>
                                <p>33 Sold</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="pro-item">
                        <div class="logo-box">
                            <div class="p-circle">50%</div>
                            <img src="app/assets/Images/pro-3.png" alt=""/>
                        </div>
                        <div class="desc">
                            <h2>Tony Roma's Steak Combination Best Steak in town Great Offer !!</h2>

                            <div class="price">
                                <h2>RP 299,000</h2>
                                <p>RP 350,000</p>
                            </div>
                            <div class="pts">
                                <h2>mPts 120</h2>
                                <p>33 Sold</p>
                            </div>
                        </div>
                    </div>
                </li>-->
            </ul>
        </div>

    </div>

    <div class="m-reseller-section tablet-hide">
        <h1>Re-Seller Voucher</h1>
        <ul>
            <li>
                <div class="pro-item">
                    <div class="logo-box">
                        <div class="p-circle">50%</div>
                        <img src="Images/pro-1.png" width="218" height="100"  alt=""/>
                    </div>
                    <div class="desc">
                        <h2>Tony Roma's Steak Combination Best Steak in town Great Offer !!</h2>

                        <div class="price">
                            <h2>RP 299,000</h2>
                            <p>RP 350,000</p>
                        </div>
                        <div class="pts">
                            <h2>mPts 120</h2>
                            <p>33 Sold</p>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="pro-item">
                    <div class="logo-box">
                        <div class="p-circle">50%</div>
                        <img src="Images/pro-2.png" alt=""/>
                    </div>
                    <div class="desc">
                        <h2>Tony Roma's Steak Combination Best Steak in town Great Offer !!</h2>

                        <div class="price">
                            <h2>RP 299,000</h2>
                            <p>RP 350,000</p>
                        </div>
                        <div class="pts">
                            <h2>mPts 120</h2>
                            <p>33 Sold</p>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="pro-item">
                    <div class="logo-box">
                        <div class="p-circle">50%</div>
                        <img src="Images/pro-3.png" alt=""/>
                    </div>
                    <div class="desc">
                        <h2>Tony Roma's Steak Combination Best Steak in town Great Offer !!</h2>

                        <div class="price">
                            <h2>RP 299,000</h2>
                            <p>RP 350,000</p>
                        </div>
                        <div class="pts">
                            <h2>mPts 120</h2>
                            <p>33 Sold</p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
