<!--Web header-->
<!--<div ng-controller="loginCtrl">-->
<div class="container phone-hide">
    <div class="myaccount-details">
        <h1>Membership</h1>
    </div>
</div>
<div class="m-myaccount-details tablet-hide">
    <h1>Membership</h1>
</div>
<div class="dx-clearfix"></div>
<div class="container phone-hide">
    <div id="accordion" class="membership">
        <h1>Membership Details</h1>
        <table>
            <tr>
                <td width="6%" class="header-color"></td>
                <td width="25%" class="header-color">Membership Id</td>
                <td width="56%" class="header-color">Membership Descriptions</td>
                <td width="19%" class="header-color">Valid until</td>
            </tr>
            <tr>
                <td><p><span><a href="#one"><img style="vertical-align:middle;" src="app/assets/Images/circle-arrow.png" width="22" height="22"  alt=""/><a href="#one" class="first"></span> <span style=" vertical-align: middle;"><input type="checkbox"></span></p></td>
                <td>MBR034FBC2039</td>
                <td>mFoodGate Premium Member</td>
                <td>7/25/2018</td>
            </tr>
            <div id="one">
                this is some info.
            </div>
            <tr>
                <td><p><span><a href="#two"><img style="vertical-align:middle;" src="app/assets/Images/circle-arrow.png" width="22" height="22"  alt=""/></a></span> <span style=" vertical-align: middle;"><input type="checkbox"></span></p></td>
                <td>MBR034FBC2039</td>
                <td>mFoodGate Premium Member</td>
                <td>7/25/2018</td>
            </tr>
            <div id="two">
                this is some info.
            </div>
        </table>
    </div>

</div>
<div id="accordion" class="membership tablet-hide">
    <h1>Membership Details</h1>
    <table>
        <tr>
            <td width="6%" class="header-color"></td>
            <td width="25%" class="header-color">Membership Id</td>
            <td width="56%" class="header-color">Membership Descriptions</td>
            <td width="19%" class="header-color">Valid until</td>
        </tr>
        <tr>
            <td><p><span><a href="#one"><img style="vertical-align:middle;" src="app/assets/Images/circle-arrow.png" width="22" height="22"  alt=""/><a href="#one" class="first"></span> <span style=" vertical-align: middle;"><input type="checkbox"></span></p></td>
            <td>MBR034FBC2039</td>
            <td>mFoodGate Premium Member</td>
            <td>7/25/2018</td>
        </tr>
        <div id="one">
            this is some info.
        </div>
        <tr>
            <td><p><span><a href="#two"><img style="vertical-align:middle;" src="app/assets/Images/circle-arrow.png" width="22" height="22"  alt=""/></a></span> <span style=" vertical-align: middle;"><input type="checkbox"></span></p></td>
            <td>MBR034FBC2039</td>
            <td>mFoodGate Premium Member</td>
            <td>7/25/2018</td>
        </tr>
        <div id="two">
            this is some info.
        </div>
    </table>
</div>

<div class="dx-clearfix"></div>
<!--</div>-->
