<!--Web header-->
<!--<div ng-controller="loginCtrl">-->
<div ng-controller="membershipCtrl">
<div class="container">
    <!--<div class="voucher-section phone-hide">
        <h1>Membership</h1>
        <ul>
            <li ng-repeat="voucherDetail in voucherInfo">
                <div class="pro-item">
                    <div class="logo-box">

                        <a ui-sref="frontend.promodetails({ promoId: voucherDetail.id })"><img src="{{voucherDetail.image}}" width="218" height="100"  alt=""/></a>
                    </div>
                    <div class="desc">
                        <h2>{{voucherDetail.offer_percent}}% off</h2>
                        <p class="price">Price <span>IDR{{voucherDetail.price}}</span> </p>
                        <p class="price">Offer Price  <span>IDR{{voucherDetail.price-((voucherDetail.price*voucherDetail.offer_percent)/100)}}</span></p>
                        <div class="btn_o"><a ui-sref="frontend.promodetails({ promoId: voucherDetail.id })">Detail</a></div>
                    </div>
                </div>
            </li>

        </ul>
    </div>-->

    <div class="voucher-section phone-hide">
        <h1>New Promo Today <span>({{newPromoCount}} new)</span></h1>
        <ul>
            <li ng-repeat="voucherDetail in newPromoInfo">
                <div class="pro-item">
                    <div class="logo-box">
                        <!--<div class="p-circle">5X</div>-->
                        <a ui-sref="frontend.promodetails({ promoId: voucherDetail.id })"><img src="{{voucherDetail.image}}" width="218" height="100"  alt=""/></a>
                    </div>
                    <div class="desc">

                        <h2>Title</h2>
                        <h3>{{voucherDetail.offer_percent}}% off</h3>
                        <p class="price">Price <span>IDR{{voucherDetail.price | number}}</span> </p>
                        <p class="price">Offer Price  <span>IDR{{voucherDetail.price-((voucherDetail.price*voucherDetail.offer_percent)/100) | number}}</span></p>
                        <div class="btn_o2"><a ui-sref="frontend.promodetails({ promoId: voucherDetail.id })">Detail</a></div>
                        <!--<div class="btn_g"><a href="">Give Friend</a></div>-->
                    </div>
                </div>
            </li>

        </ul>
    </div>
    <div class="dx-clearfix"></div>
    <div class="voucher-section phone-hide">
        <h1>Hot Selling</h1>
        <ul>
            <li ng-repeat="voucherDetail in hotSellingInfo">
                <div class="pro-item">
                    <div class="logo-box">
                        <!--<div class="p-circle">5X</div>-->
                        <a ui-sref="frontend.promodetails({ promoId: voucherDetail.id })"><img src="{{voucherDetail.image}}" width="218" height="100"  alt=""/></a>
                    </div>
                    <div class="desc">

                        <h2>Title</h2>
                        <h3>{{voucherDetail.offer_percent}}% off</h3>
                        <p class="price">Price <span>IDR{{voucherDetail.price | number}}</span> </p>
                        <p class="price">Offer Price  <span>IDR{{voucherDetail.price-((voucherDetail.price*voucherDetail.offer_percent)/100) | number}}</span></p>
                        <div class="btn_o2"><a ui-sref="frontend.promodetails({ promoId: voucherDetail.id })">Detail</a></div>
                        <!--<div class="btn_g"><a href="">Give Friend</a></div>-->
                    </div>
                </div>
            </li>

        </ul>
    </div>
    <div class="dx-clearfix"></div>
    <div class="voucher-section phone-hide">
        <h1>Last Day Promo</h1>
        <ul>
            <li ng-repeat="voucherDetail in lastDayPromoInfo">
                <div class="pro-item">
                    <div class="logo-box">
                        <!--<div class="p-circle">5X</div>-->
                        <a ui-sref="frontend.promodetails({ promoId: voucherDetail.id })"><img src="{{voucherDetail.image}}" width="218" height="100"  alt=""/></a>
                    </div>
                    <div class="desc">

                        <h2>Title</h2>
                        <h3>{{voucherDetail.offer_percent}}% off</h3>
                        <p class="price">Price <span>IDR{{voucherDetail.price | number}}</span> </p>
                        <p class="price">Offer Price  <span>IDR{{voucherDetail.price-((voucherDetail.price*voucherDetail.offer_percent)/100) | number}}</span></p>
                        <div class="btn_o2"><a ui-sref="frontend.promodetails({ promoId: voucherDetail.id })">Detail</a></div>
                        <!--<div class="btn_g"><a href="">Give Friend</a></div>-->
                    </div>
                </div>
            </li>

        </ul>
    </div>
    <div class="dx-clearfix"></div>
    <div class="voucher-section phone-hide">
        <h1>Special Promo</h1>
        <ul>
            <li ng-repeat="voucherDetail in specialInfo">
                <div class="pro-item">
                    <div class="logo-box">
                        <!--<div class="p-circle">5X</div>-->
                        <a ui-sref="frontend.promodetails({ promoId: voucherDetail.id })"><img src="{{voucherDetail.image}}" width="218" height="100"  alt=""/></a>
                    </div>
                    <div class="desc">

                        <h2>Title</h2>
                        <h3>{{voucherDetail.offer_percent}}% off</h3>
                        <p class="price">Price <span>IDR{{voucherDetail.price | number}}</span> </p>
                        <p class="price">Offer Price  <span>IDR{{voucherDetail.price-((voucherDetail.price*voucherDetail.offer_percent)/100) | number}}</span></p>
                        <div class="btn_o2"><a ui-sref="frontend.promodetails({ promoId: voucherDetail.id })">Detail</a></div>
                        <!--<div class="btn_g"><a href="">Give Friend</a></div>-->
                    </div>
                </div>
            </li>

        </ul>
    </div>
    <div class="dx-clearfix"></div>

</div>

    <!--<div class="m-voucher-section tablet-hide">
        <h1>Membership</h1>
        <ul>
            <li ng-repeat="voucherDetail in voucherInfo">
                <div class="pro-item">
                    <div class="logo-box">

                        <a ui-sref="frontend.promodetails({ promoId: voucherDetail.id })"><img src="{{voucherDetail.image}}" width="218" height="100"  alt=""/></a>
                    </div>
                    <div class="desc">

                        <h2>{{voucherDetail.offer_percent}}% off</h2>
                        <p class="price">Price <span>IDR{{voucherDetail.price}}</span> </p>
                        <p class="price">Offer Price  <span>IDR{{voucherDetail.price-((voucherDetail.price*voucherDetail.offer_percent)/100)}}</span></p>
                        <div class="btn_o"><a ui-sref="frontend.promodetails({ promoId: voucherDetail.id })">Detail</a></div>

                    </div>
                </div>
            </li>

        </ul>
    </div>-->
    <div class="m-voucher-section tablet-hide">
        <h1>New Promo Today <span>({{newPromoCount}} new)</span></h1>
        <ul>
            <li ng-repeat="voucherDetail in newPromoInfo">
                <div class="pro-item">
                    <div class="logo-box">
                        <!--<div class="p-circle">5X</div>-->
                        <a ui-sref="frontend.promodetails({ promoId: voucherDetail.id })"><img src="{{voucherDetail.image}}" width="218" height="100"  alt=""/></a>
                    </div>
                    <div class="desc">

                        <h2>Title</h2>
                        <h3>{{voucherDetail.offer_percent}}% off</h3>
                        <p class="price">Price <span>IDR{{voucherDetail.price | number}}</span> </p>
                        <p class="price">Offer Price  <span>IDR{{voucherDetail.price-((voucherDetail.price*voucherDetail.offer_percent)/100) | number}}</span></p>
                        <div class="btn_o2"><a ui-sref="frontend.promodetails({ promoId: voucherDetail.id })">Detail</a></div>
                        <!--<div class="btn_g"><a href="">Give Friend</a></div>-->
                    </div>
                </div>
            </li>

        </ul>
    </div>
    <div class="dx-clearfix"></div>
    <div class="m-voucher-section tablet-hide">
        <h1>Hot Selling</h1>
        <ul>
            <li ng-repeat="voucherDetail in hotSellingInfo">
                <div class="pro-item">
                    <div class="logo-box">
                        <!--<div class="p-circle">5X</div>-->
                        <a ui-sref="frontend.promodetails({ promoId: voucherDetail.id })"><img src="{{voucherDetail.image}}" width="218" height="100"  alt=""/></a>
                    </div>
                    <div class="desc">

                        <h2>Title</h2>
                        <h3>{{voucherDetail.offer_percent}}% off</h3>
                        <p class="price">Price <span>IDR{{voucherDetail.price | number}}</span> </p>
                        <p class="price">Offer Price  <span>IDR{{voucherDetail.price-((voucherDetail.price*voucherDetail.offer_percent)/100) | number}}</span></p>
                        <div class="btn_o2"><a ui-sref="frontend.promodetails({ promoId: voucherDetail.id })">Detail</a></div>
                        <!--<div class="btn_g"><a href="">Give Friend</a></div>-->
                    </div>
                </div>
            </li>

        </ul>
    </div>
    <div class="dx-clearfix"></div>
    <div class="m-voucher-section tablet-hide">
        <h1>Last Day Promo</h1>
        <ul>
            <li ng-repeat="voucherDetail in lastDayPromoInfo">
                <div class="pro-item">
                    <div class="logo-box">
                        <!--<div class="p-circle">5X</div>-->
                        <a ui-sref="frontend.promodetails({ promoId: voucherDetail.id })"><img src="{{voucherDetail.image}}" width="218" height="100"  alt=""/></a>
                    </div>
                    <div class="desc">

                        <h2>Title</h2>
                        <h3>{{voucherDetail.offer_percent}}% off</h3>
                        <p class="price">Price <span>IDR{{voucherDetail.price | number}}</span> </p>
                        <p class="price">Offer Price  <span>IDR{{voucherDetail.price-((voucherDetail.price*voucherDetail.offer_percent)/100) | number}}</span></p>
                        <div class="btn_o2"><a ui-sref="frontend.promodetails({ promoId: voucherDetail.id })">Detail</a></div>
                        <!--<div class="btn_g"><a href="">Give Friend</a></div>-->
                    </div>
                </div>
            </li>

        </ul>
    </div>
    <div class="dx-clearfix"></div>
    <div class="m-voucher-section tablet-hide">
        <h1>Special Promo</h1>
        <ul>
            <li ng-repeat="voucherDetail in specialInfo">
                <div class="pro-item">
                    <div class="logo-box">
                        <!--<div class="p-circle">5X</div>-->
                        <a ui-sref="frontend.promodetails({ promoId: voucherDetail.id })"><img src="{{voucherDetail.image}}" width="218" height="100"  alt=""/></a>
                    </div>
                    <div class="desc">

                        <h2>Title</h2>
                        <h3>{{voucherDetail.offer_percent}}% off</h3>
                        <p class="price">Price <span>IDR{{voucherDetail.price | number}}</span> </p>
                        <p class="price">Offer Price  <span>IDR{{voucherDetail.price-((voucherDetail.price*voucherDetail.offer_percent)/100) | number}}</span></p>
                        <div class="btn_o2"><a ui-sref="frontend.promodetails({ promoId: voucherDetail.id })">Detail</a></div>
                        <!--<div class="btn_g"><a href="">Give Friend</a></div>-->
                    </div>
                </div>
            </li>

        </ul>
    </div>
    <div class="dx-clearfix"></div>
</div>

<!--</div>-->
<script>
    $("#accordion div").first().css('display', 'none');


    // Get all the links.
    var link = $("#accordion a");

    // On clicking of the links do something.
    link.on('click', function(e) {
        e.preventDefault();

        var a = $(this).attr("href");

        $(a).slideDown('fast');

        //$(a).slideToggle('fast');
        $("#accordion div").not(a).slideUp('fast');

    });
</script>