<!--Web header-->
<!--<div ng-controller="loginCtrl">-->
<div ng-controller="membershipCtrl">
<div class="container">
    <div class="voucher-section phone-hide">
        <h1>Membership</h1>
        <ul>
            <li ng-repeat="voucherDetail in voucherInfo">
                <div class="pro-item">
                    <div class="logo-box">
                        <!--<div class="p-circle">5X</div>-->
                        <img src="{{voucherDetail.image}}" width="218" height="100"  alt=""/>
                    </div>
                    <div class="desc">

                        <h2>{{voucherDetail.offer_percent}}% off</h2>
                        <p class="price">Price <span>IDR{{voucherDetail.price}}</span> </p>
                        <p class="price">Offer Price  <span>IDR{{voucherDetail.price-((voucherDetail.price*voucherDetail.offer_percent)/100)}}</span></p>
                        <div class="btn_o"><a ui-sref="frontend.promodetails({ promoId: voucherDetail.id })">Detail</a></div>
                        <!--<div class="btn_g"><a href="">Give Friend</a></div>-->
                    </div>
                </div>
            </li>
            <!--<li ng-repeat="voucherDetail in voucherInfo">
                <div class="pro-item">
                    <img src="{{voucherDetail.image}}" width="406" height="255"  alt=""/>
                    <div class="p-circle">{{voucherDetail.offer_percent}}%</div>
                    <div class="desc">
                        <div class="txt">
                            <h2>{{voucherDetail.title}}</h2>

                            <p class="price">Price <span>IDR{{voucherDetail.price}}</span> </p>
                            <p class="price">Offer Price  <span>IDR{{voucherDetail.price-((voucherDetail.price*voucherDetail.offer_percent)/100)}}</span></p>
                            <div class="btn_g"><a href="">Resell</a></div>
                            <div class="btn_o"><a href="">Give Friend</a></div>
                        </div>

                    </div>
                </div>
            </li>-->
            <!--<li>
                <div class="pro-item">
                    <div class="logo-box">
                        <div class="p-circle">5X</div>
                        <img src="app/assets/Images/logo-2.png" width="218" height="100"  alt=""/>
                    </div>
                    <div class="desc">
                        <h2>10% OFF MAY STAR</h2>
                        <p>49 days 21 : 47 : 55 left</p>
                        <div class="btn_g"><a href="">Resell</a></div>
                        <div class="btn_o"><a href="">Give Friend</a></div>
                    </div>
                </div>
            </li>
            <li>
                <div class="pro-item">
                    <div class="logo-box">
                        <div class="p-circle">5X</div>
                        <img src="app/assets/Images/logo-3.png" width="218" height="100"  alt=""/>
                    </div>
                    <div class="desc">
                        <h2>10% OFF MAY STAR</h2>
                        <p>49 days 21 : 47 : 55 left</p>
                        <div class="btn_g"><a href="">Resell</a></div>
                        <div class="btn_o"><a href="">Give Friend</a></div>
                    </div>
                </div>
            </li>-->
        </ul>
    </div>

</div>

<div class="m-voucher-section tablet-hide">
    <h1>Membership</h1>
    <ul>
        <li ng-repeat="voucherDetail in voucherInfo">
            <div class="pro-item">
                <div class="logo-box">
                    <!--<div class="p-circle">5X</div>-->
                    <img src="{{voucherDetail.image}}" width="218" height="100"  alt=""/>
                </div>
                <div class="desc">

                    <h2>{{voucherDetail.offer_percent}}% off</h2>
                    <p class="price">Price <span>IDR{{voucherDetail.price}}</span> </p>
                    <p class="price">Offer Price  <span>IDR{{voucherDetail.price-((voucherDetail.price*voucherDetail.offer_percent)/100)}}</span></p>
                    <div class="btn_o"><a ui-sref="frontend.promodetails({ promoId: voucherDetail.id })">Detail</a></div>
                    <!--<div class="btn_g"><a href="">Give Friend</a></div>-->
                </div>
            </div>
        </li>

    </ul>
</div>
</div>
<!--<div class="container phone-hide">
    <div class="myaccount-details">
        <h1>Membership</h1>
    </div>
</div>
<div class="m-myaccount-details tablet-hide">
    <h1>Membership</h1>
</div>
<div class="dx-clearfix"></div>
<div class="container phone-hide">
    <div id="accordion" class="membership">
        <h1>Membership Details</h1>
        <table>
            <tr>
                <td width="6%" class="header-color"></td>
                <td width="25%" class="header-color">Membership Id</td>
                <td width="56%" class="header-color">Membership Descriptions</td>
                <td width="19%" class="header-color">Valid until</td>
            </tr>
            <tr>
                <td><p><span><a href="#one"><img style="vertical-align:middle;" src="app/assets/Images/circle-arrow.png" width="22" height="22"  alt=""/><a href="#one" class="first"></span> <span style=" vertical-align: middle;"><input type="checkbox"></span></p></td>
                <td>MBR034FBC2039</td>
                <td>mFoodGate Premium Member</td>
                <td>7/25/2018</td>
            </tr>

            <tr>
                <td><p><span><a href="#two"><img style="vertical-align:middle;" src="app/assets/Images/circle-arrow.png" width="22" height="22"  alt=""/></a></span> <span style=" vertical-align: middle;"><input type="checkbox"></span></p></td>
                <td>MBR034FBC2039</td>
                <td>mFoodGate Premium Member</td>
                <td>7/25/2018</td>
            </tr>

        </table>
    </div>

</div>
<div id="accordion" class="membership tablet-hide">
    <h1>Membership Details</h1>
    <table>
        <tr>
            <td width="6%" class="header-color"></td>
            <td width="25%" class="header-color">Membership Id</td>
            <td width="56%" class="header-color">Membership Descriptions</td>
            <td width="19%" class="header-color">Valid until</td>
        </tr>
        <tr>
            <td><p><span><a href="#one"><img style="vertical-align:middle;" src="app/assets/Images/circle-arrow.png" width="22" height="22"  alt=""/><a href="#one" class="first"></span> <span style=" vertical-align: middle;"><input type="checkbox"></span></p></td>
            <td>MBR034FBC2039</td>
            <td>mFoodGate Premium Member</td>
            <td>7/25/2018</td>
        </tr>

        <tr>
            <td><p><span><a href="#two"><img style="vertical-align:middle;" src="app/assets/Images/circle-arrow.png" width="22" height="22"  alt=""/></a></span> <span style=" vertical-align: middle;"><input type="checkbox"></span></p></td>
            <td>MBR034FBC2039</td>
            <td>mFoodGate Premium Member</td>
            <td>7/25/2018</td>
        </tr>

    </table>
</div>

<div class="dx-clearfix"></div>-->
<!--</div>-->
<script>
    $("#accordion div").first().css('display', 'none');


    // Get all the links.
    var link = $("#accordion a");

    // On clicking of the links do something.
    link.on('click', function(e) {
        e.preventDefault();

        var a = $(this).attr("href");

        $(a).slideDown('fast');

        //$(a).slideToggle('fast');
        $("#accordion div").not(a).slideUp('fast');

    });
</script>