<!--Web header-->
<style>
    #employeeInfo .employeeNotes {
        padding-top: 20px;
        text-align: justify;
    }

</style>
<div>

    <div class="container phone-hide">
        <div class="myaccount-details">
            <h1>Membership</h1>
                <div data-ng-include=" 'app/views/partials/leftbar.html' " ></div>

            <div class="profile-details">
                <h3>Membership</h3>
                <div id="gridContainer" dx-data-grid="dataGridOptions"></div>
                <div id="employeeInfo">
                    <p class="employeeNotes" ng-bind-html="selectedEmployee.benefits"></p>
                </div>
            </div>

        </div>
    </div>
    <div class="m-myaccount-details tablet-hide">
        <h1>Membership</h1>
        <div data-ng-include=" 'app/views/partials/leftbar.html' " ></div>

        <div class="m-profile-details">
            <div id="gridContainer" dx-data-grid="dataGridOptions"></div>
        </div>

    </div>


</div>


