<!--Web header-->
<div ng-controller="mypointsCtrl">

    <div class="container phone-hide">
        <div class="myaccount-details">
            <h1>Points</h1>
                <div data-ng-include=" 'app/views/partials/leftbar.html' " ></div>

            <div class="profile-details">
                <h3>All Points</h3>
                <div id="gridContainer" dx-data-grid="dataGridOptions"></div>

                <h3>Expire soon Points</h3>
                <div id="gridContainer2" dx-data-grid="dataGridOptions2"></div>
            </div>

        </div>
    </div>
    <div class="m-myaccount-details tablet-hide">
        <div data-ng-include=" 'app/views/partials/leftbar.html' " ></div>
        <h1>Points</h1>
        <div class="m-profile-details">
            <h3 style="font-size: 18px; line-height: 30px; padding: 10px;">All Points</h3>
            <div dx-list="{onInitialized:loadList}">

                <div  data-options="dxTemplate: { name: 'item' }">

                    <div>
                        <p style="font-size:larger;"><b>{{source}}</b></p>
                        <p>Points: <i>{{points}}</i></p>
                        <p>Remaining Points: <i>{{remaining_points}}</i></p>
                    </div>
                    <p>Area: <i>{{date}}</i></p>
                    <p>Expire Date: <i>{{expire_date}}</i></p>
                </div>
            </div>
            <div class="dx-clearfix"></div>

            <h3 style="font-size: 18px; line-height: 30px; padding: 10px;">Expire soon Points</h3>
            <div dx-list="{
      onInitialized:loadExpiredPointList
    }">

                <div data-options="dxTemplate: { name: 'item' }">

                    <div>
                        <p style="font-size:larger;"><b>{{source}}</b></p>
                        <p>Points: <i>{{points}}</i></p>
                        <p>Remaining Points: <i>{{remaining_points}}</i></p>
                    </div>
                    <p>Date: <i>{{date}}</i></p>
                    <p>Expire Date: <i>{{expire_date}}</i></p>
                </div>
            </div>
        </div>

    </div>


</div>


