<!--Web header-->
<!--<div ng-controller="loginCtrl">-->
<div class="container">
    <div class="news">
        <div class="left-col">
            <div class="banner"><img src="app/assets/Images/news-banner.png" alt=""/></div>
            <div class="all-news">
                <h1>All News</h1>
                <div class="news-item">
                    <div class="pix"><img src="app/assets/Images/n-pix.png" width="264" height="167"  alt=""/></div>
                    <div class="dsc">
                        <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</h1>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qullit anim id est laborum.</p>
                        <div class="posted"><strong>Posted on:</strong> 03-02-2016 | By: Admin                                    <span>View (103)</span></div>
                    </div>
                </div>
                <div class="news-item">
                    <div class="pix"><img src="app/assets/Images/n-pix.png" width="264" height="167"  alt=""/></div>
                    <div class="dsc">
                        <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</h1>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qullit anim id est laborum.</p>
                        <div class="posted"><strong>Posted on:</strong> 03-02-2016 | By: Admin                                    <span>View (103)</span></div>
                    </div>
                </div>
                <div class="news-item">
                    <div class="pix"><img src="app/assets/Images/n-pix.png" width="264" height="167"  alt=""/></div>
                    <div class="dsc">
                        <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</h1>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qullit anim id est laborum.</p>
                        <div class="posted"><strong>Posted on:</strong> 03-02-2016 | By: Admin                                    <span>View (103)</span></div>
                    </div>
                </div>
                <div class="news-item">
                    <div class="pix"><img src="app/assets/Images/n-pix.png" width="264" height="167"  alt=""/></div>
                    <div class="dsc">
                        <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</h1>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qullit anim id est laborum.</p>
                        <div class="posted"><strong>Posted on:</strong> 03-02-2016 | By: Admin                                    <span>View (103)</span></div>
                    </div>
                </div>
                <div class="news-item">
                    <div class="pix"><img src="app/assets/Images/n-pix.png" width="264" height="167"  alt=""/></div>
                    <div class="dsc">
                        <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</h1>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qullit anim id est laborum.</p>
                        <div class="posted"><strong>Posted on:</strong> 03-02-2016 | By: Admin                                    <span>View (103)</span></div>
                    </div>
                </div>
                <div class="news-item">
                    <div class="pix"><img src="app/assets/Images/n-pix.png" width="264" height="167"  alt=""/></div>
                    <div class="dsc">
                        <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</h1>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qullit anim id est laborum.</p>
                        <div class="posted"><strong>Posted on:</strong> 03-02-2016 | By: Admin                                    <span>View (103)</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-col">
            <div class="latest-news">
                <h1>Latest Update</h1>
                <div class="ln-news">
                    <ul>
                        <li>
                            <div class="n-pix"><img src="app/assets/Images/n-pix-n.jpg" alt=""/></div>
                            <div class="n-dsc">
                                <p><a href="">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></p>
                                <p>Minim veniam, quis nostrud exercitation ullamco </p>
                            </div>
                        </li>
                        <li>
                            <div class="n-pix"><img src="app/assets/Images/n-pix-n.jpg" alt=""/></div>
                            <div class="n-dsc">
                                <p><a href="">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></p>
                                <p>Minim veniam, quis nostrud exercitation ullamco </p>
                            </div>
                        </li>
                        <li>
                            <div class="n-pix"><img src="app/assets/Images/n-pix-n.jpg" alt=""/></div>
                            <div class="n-dsc">
                                <p><a href="">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></p>
                                <p>Minim veniam, quis nostrud exercitation ullamco </p>
                            </div>
                        </li>
                        <li>
                            <div class="n-pix"><img src="app/assets/Images/n-pix-n.jpg" alt=""/></div>
                            <div class="n-dsc">
                                <p><a href="">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></p>
                                <p>Minim veniam, quis nostrud exercitation ullamco </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="latest-news">
                <h1>Latest Update</h1>
                <div class="most-viewed">
                    <ul>
                        <li>
                            <div class="v-pix"><img src="app/assets/Images/v-pix.jpg" alt=""/></div>
                            <div class="v-dsc">
                                <p><a href="">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a>
                                    Minim veniam, quis nostrud exercitation ullamco </p>
                                <div class="posted"><strong>Posted on:</strong> 03-02-2016 | By: Admin                    <span>View (103)</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="v-pix"><img src="app/assets/Images/v-pix.jpg" alt=""/></div>
                            <div class="v-dsc">
                                <p><a href="">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a>
                                    Minim veniam, quis nostrud exercitation ullamco </p>
                                <div class="posted"><strong>Posted on:</strong> 03-02-2016 | By: Admin                    <span>View (103)</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="v-pix"><img src="app/assets/Images/v-pix.jpg" alt=""/></div>
                            <div class="v-dsc">
                                <p><a href="">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a>
                                    Minim veniam, quis nostrud exercitation ullamco </p>
                                <div class="posted"><strong>Posted on:</strong> 03-02-2016 | By: Admin                    <span>View (103)</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="v-pix"><img src="app/assets/Images/v-pix.jpg" alt=""/></div>
                            <div class="v-dsc">
                                <p><a href="">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a>
                                    Minim veniam, quis nostrud exercitation ullamco </p>
                                <div class="posted"><strong>Posted on:</strong> 03-02-2016 | By: Admin                    <span>View (103)</span></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="dx-clearfix"></div>
<!--</div>-->
