<!--Web header-->

<div class="container">
    <div class="voucher-section phone-hide">
        <h1>Voucher</h1>
        <ul>
            <li>
                <div class="pro-item">
                    <div class="logo-box">
                        <div class="p-circle">5X</div>
                        <img src="app/assets/Images/logo-1.png" width="218" height="100"  alt=""/>
                    </div>
                    <div class="desc">
                        <h2>10% OFF MAY STAR</h2>
                        <p>49 days 21 : 47 : 55 left</p>
                        <div class="btn_g"><a href="">Resell</a></div>
                        <div class="btn_o"><a href="">Give Friend</a></div>
                    </div>
                </div>
            </li>
            <li>
                <div class="pro-item">
                    <div class="logo-box">
                        <div class="p-circle">5X</div>
                        <img src="app/assets/Images/logo-2.png" width="218" height="100"  alt=""/>
                    </div>
                    <div class="desc">
                        <h2>10% OFF MAY STAR</h2>
                        <p>49 days 21 : 47 : 55 left</p>
                        <div class="btn_g"><a href="">Resell</a></div>
                        <div class="btn_o"><a href="">Give Friend</a></div>
                    </div>
                </div>
            </li>
            <li>
                <div class="pro-item">
                    <div class="logo-box">
                        <div class="p-circle">5X</div>
                        <img src="app/assets/Images/logo-3.png" width="218" height="100"  alt=""/>
                    </div>
                    <div class="desc">
                        <h2>10% OFF MAY STAR</h2>
                        <p>49 days 21 : 47 : 55 left</p>
                        <div class="btn_g"><a href="">Resell</a></div>
                        <div class="btn_o"><a href="">Give Friend</a></div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

</div>

<div class="m-voucher-section tablet-hide">
    <h1>My Voucher</h1>
    <ul>
        <li>
            <div class="pro-item">
                <div class="logo-box">
                    <div class="p-circle">5X</div>
                    <img src="app/assets/Images/logo-1.png" width="218" height="100"  alt=""/>
                </div>
                <div class="desc">
                    <h2>10% OFF MAY STAR</h2>
                    <p>49 days 21 : 47 : 55 left</p>
                    <div class="btn_g"><a href="">Resell</a></div>
                    <div class="btn_o"><a href="">Give Friend</a></div>
                </div>
            </div>
        </li>
        <li>
            <div class="pro-item">
                <div class="logo-box">
                    <div class="p-circle">5X</div>
                    <img src="app/assets/Images/logo-2.png" width="218" height="100"  alt=""/>
                </div>
                <div class="desc">
                    <h2>10% OFF MAY STAR</h2>
                    <p>49 days 21 : 47 : 55 left</p>
                    <div class="btn_g"><a href="">Resell</a></div>
                    <div class="btn_o"><a href="">Give Friend</a></div>
                </div>
            </div>
        </li>
        <li>
            <div class="pro-item">
                <div class="logo-box">
                    <div class="p-circle">5X</div>
                    <img src="app/assets/Images/logo-3.png" width="218" height="100"  alt=""/>
                </div>
                <div class="desc">
                    <h2>10% OFF MAY STAR</h2>
                    <p>49 days 21 : 47 : 55 left</p>
                    <div class="btn_g"><a href="">Resell</a></div>
                    <div class="btn_o"><a href="">Give Friend</a></div>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="dx-clearfix"></div>
<div class="container">
    <div class="expire-section phone-hide">
        <h1>Expire Soon</h1>
        <ul>
            <li>
                <div class="pro-item">
                    <div class="logo-box">

                        <img src="app/assets/Images/logo-1.png" width="218" height="100"  alt=""/>
                    </div>
                    <div class="desc">
                        <h2>10% OFF MAY STAR</h2>
                        <p>49 days 21 : 47 : 55 left</p>
                        <div class="btn_g"><a href="">Resell</a></div>
                        <div class="btn_o"><a href="">Give Friend</a></div>
                    </div>
                </div>
            </li>
            <li>
                <div class="pro-item">
                    <div class="logo-box">

                        <img src="app/assets/Images/logo-2.png" width="218" height="100"  alt=""/>
                    </div>
                    <div class="desc">
                        <h2>10% OFF MAY STAR</h2>
                        <p>49 days 21 : 47 : 55 left</p>
                        <div class="btn_g"><a href="">Resell</a></div>
                        <div class="btn_o"><a href="">Give Friend</a></div>
                    </div>
                </div>
            </li>
            <li>
                <div class="pro-item">
                    <div class="logo-box">

                        <img src="app/assets/Images/logo-3.png" width="218" height="100"  alt=""/>
                    </div>
                    <div class="desc">
                        <h2>10% OFF MAY STAR</h2>
                        <p>49 days 21 : 47 : 55 left</p>
                        <div class="btn_g"><a href="">Resell</a></div>
                        <div class="btn_o"><a href="">Give Friend</a></div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

