<!--Web header-->
<div ng-controller="websitemenusCtrl">

    <div ng-include="'app/views/partials/merchant_header.html'"></div>
    <div class="dx-clearfix"></div>



    <!--Section - 1-->
    <div style="margin-top:0;" class="container phone-hide">
        <!--Left menu-->
        <div ng-include="'app/views/partials/merchant_leftbar.html'"></div>
        <!--Featured Promo-->
        <div class="featured-Promo">
            <!--<h1>Featured Promo</h1>-->
            <div class="menu-cont">
                <div class="item">
                    <div class="pro-item">
                        <img src="app/assets/Images/pro-1.png" width="406" height="255"  alt=""/>
                        <div class="p-circle">50%</div>
                        <div class="desc">
                            <div class="txt">
                                <h2>Voucher Oel Merdeka</h2>
                                <p class="price">IDR75.000</p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="pro-item">
                        <img src="app/assets/Images/pro-1.png" width="406" height="255"  alt=""/>
                        <div class="p-circle">50%</div>
                        <div class="desc">
                            <div class="txt">
                                <h2>Voucher Oel Merdeka</h2>
                                <p class="price">IDR75.000</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="dx-clearfix"></div>
            <h1 style="margin-top:20px;">Menu</h1>
            <div class="menu-cont">
                <div class="menu-list">
                    <p>Chicken Tandoor: <span>$50.00</span></p>
                    <p>Chicken Tandoor: <span>$50.00</span></p>
                    <p>Chicken Tandoor: <span>$50.00</span></p>
                    <p>Chicken Tandoor: <span>$50.00</span></p>
                    <p>Chicken Tandoor: <span>$50.00</span></p>
                    <p>Chicken Tandoor: <span>$50.00</span></p>
                    <p>Chicken Tandoor: <span>$50.00</span></p>
                    <p>Chicken Tandoor: <span>$50.00</span></p>
                    <p>Chicken Tandoor: <span>$50.00</span></p>
                    <p>Chicken Tandoor: <span>$50.00</span></p>
                    <p>Chicken Tandoor: <span>$50.00</span></p>
                </div>
            </div>
        </div>
    </div>



    <!--mobile promo-->
    <div class="m-featured-Promo tablet-hide">
        <h1>Featured Promo</h1>
        <div class="m-menu-cont">
            <div class="item">
                <div class="pro-item">
                    <img src="Images/pro-1.png" width="406" height="255"  alt=""/>
                    <div class="p-circle">50%</div>
                    <div class="desc">
                        <div class="txt">
                            <h2>Voucher Oel Merdeka</h2>
                            <p class="price">IDR75.000</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="dx-clearfix"></div>
        <h1 style="margin-top:20px;">Menu</h1>
        <div class="m-menu-cont">
            <div class="m-menu-list">
                <p>Chicken Tandoor: <span>$50.00</span></p>
                <p>Chicken Tandoor: <span>$50.00</span></p>
                <p>Chicken Tandoor: <span>$50.00</span></p>
                <p>Chicken Tandoor: <span>$50.00</span></p>
                <p>Chicken Tandoor: <span>$50.00</span></p>
                <p>Chicken Tandoor: <span>$50.00</span></p>
                <p>Chicken Tandoor: <span>$50.00</span></p>
                <p>Chicken Tandoor: <span>$50.00</span></p>
                <p>Chicken Tandoor: <span>$50.00</span></p>
                <p>Chicken Tandoor: <span>$50.00</span></p>
                <p>Chicken Tandoor: <span>$50.00</span></p>
            </div>
        </div>
    </div>
    <!--end-->

    <div class="dx-clearfix"></div>


</div>


